name: ${CONTAINER_NAME}
services:
  service:
    user: "${CONTAINER_UID}:${CONTAINER_UID}"
    shm_size: 16gb
    container_name: ${CONTAINER_NAME}_service
    build:
      context: .
      dockerfile: Dockerfile
      args:
        CONTAINER_USER: ${CONTAINER_USER}
        CONTAINER_UID: ${CONTAINER_UID}
        CONTAINER_HOME: ${CONTAINER_HOME}
    env_file:
      - ./.env
    volumes:
      - ./:${CONTAINER_WORK_DIR}
      - shortcuts:${CONTAINER_WORK_DIR}/.shortcuts:rw
      - venv:${CONTAINER_WORK_DIR}/.venv

      # cache
      - uv_cache:${CONTAINER_HOME}/.cache/uv
      - huggingface_cache:${CONTAINER_HOME}/.cache/huggingface

      # dataset
      - datasets:${CONTAINER_HOME}/.datasets:rw

      # storage
      - storage:${CONTAINER_HOME}/.storage:rw
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ["${CONTAINER_GPU_ID}"]
              capabilities: [gpu]
    command: ["tail", "-f", "/dev/null"]

volumes:
  shortcuts:
    driver: local
  venv:
    driver: local
  uv_cache:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${CONTAINER_VOLUME}/cache/uv
  huggingface_cache:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${CONTAINER_VOLUME}/cache/huggingface
  datasets:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${CONTAINER_VOLUME}/datasets
  storage:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${CONTAINER_VOLUME}/storage/dataset_loader
